{
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-explicit-any": 1,
    "no-case-declarations": 0,
    "no-console": 1,
    "quotes": [1, "double", { "allowTemplateLiterals": true }],
    "@typescript-eslint/quotes": [1, "double"]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
